@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read.me</title>
        <link rel="icon" href="~/assets/icon.png" type="image/png">

    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/manageAdminStyle.css">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/animation.js"></script>
</head>
<body>
    <div class="layer"></div>
    <header>

        <div class="main-menu">
            <button class="mobile-menu"><i class="fa fa-bars"></i></button>
            <h1><span><i class="fa fa-dice-d6"></i> </span>Read.me</h1>

            <nav>
                <button class="close-nav"><i class="fa fa-times"></i></button>
                <ul>
                    <a href="/admin" class="homeNav">
                        <li><i class="fa fa-home"></i> Home</li>
                        <div class="hover"></div>
                    </a>

                    @if (ViewBag.admin.isSuperuser == true)
                    {
                        <a href="/admin/manage" class="eduHubNav">
                            <li><i class="fa fa-cogs"></i> Manage</li>
                            <div class="hover active"></div>
                        </a>
                    }


                    @if (ViewBag.admin.access_report == true)
                    {
                        <a href="/admin/reports" class="eduHubNav">
                            <li><i class="fa fa-ban"></i> Reports</li>
                            <div class="hover"></div>
                        </a>
                    }

                    @if (ViewBag.admin.access_ticket == true)
                    {
                        <a href="/admin/tickets" class="eduHubNav">
                            <li><i class="fa fa-exclamation-triangle"></i> Tickets</li>
                            <div class="hover"></div>
                        </a>
                    }

                    <a href="/admin/logout" class="free-nav">
                        <li><span><i class="fa fa-power-off"></i></span></li>
                    </a>
                </ul>
            </nav>

        </div>



        @if (@ViewBag.message != null && @ViewBag.message == true)
        {
            @if (@ViewBag.success != null)
            {
                <div class="success-message">
                    <p><span><i class="fa fa-check-circle"></i></span>@ViewBag.success</p><button><i class="fa fa-times"></i></button>
                </div>
            }

            @if (@ViewBag.error != null)
            {
                <div class="error-message">
                    <p><span><i class="fa fa-ban"></i></span>@ViewBag.error</p><button><i class="fa fa-times"></i></button>
                </div>
            }

        }

    </header>

    <section class="container">
        <div class="add-admin">
            <a href="/admin/add"><i class="fa fa-plus"></i> Admin</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>E-mail Address</th>
                    <th>User Access</th>
                    <th>Book Access</th>
                    <th>Course Access</th>
                    <th>Report Access</th>
                    <th>Payment Access</th>
                    <th>Comment Access</th>
                    <th>Subsciber Access</th>
                    <th>Tickets Access</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using ReadME.Models;
                @model ReadME.Models.Permission;
                @foreach (Admin admin in ViewBag.admins)
                {

                    <tr>
                        <form method="post" action="/admin/edit-access/@admin.Id">
                            <td>@admin.email</td>

                            @if (admin.access_user != true)
                            {
                                <td><input type="checkbox" asp-for="user"></td>
                            }
                            else
                            {
                                <td><input type="checkbox"  asp-for="user" checked></td>
                            }


                            @if (admin.access_book != true)
                            {
                                <td><input type="checkbox" asp-for="book"></td>
                            }
                            else
                            {
                                <td><input type="checkbox"  asp-for="book" checked></td>
                            }



                            @if (admin.access_course != true)
                            {
                                <td><input type="checkbox"  asp-for="course"></td>
                            }
                            else
                            {
                                <td><input type="checkbox"   asp-for="course" checked></td>
                            }



                            @if (admin.access_report != true)
                            {
                                <td><input type="checkbox"  asp-for="report"></td>
                            }
                            else
                            {
                                <td><input type="checkbox"   asp-for="report" checked></td>
                            }



                            @if (admin.access_payment != true)
                            {
                                <td><input type="checkbox"  asp-for="payment"></td>
                            }
                            else
                            {
                                <td><input type="checkbox"   asp-for="payment" checked></td>
                            }



                            @if (admin.access_comment != true)
                            {
                                <td><input type="checkbox"  asp-for="comment"></td>
                            }
                            else
                            {
                                <td><input type="checkbox"  asp-for="comment" checked></td>
                            }


                            @if (admin.access_subscriber != true)
                            {
                                <td><input type="checkbox"  asp-for="subscriber"></td>
                            }
                            else
                            {
                                <td><input type="checkbox" asp-for="subscriber" checked></td>
                            }



                            @if (admin.access_ticket != true)
                            {
                                <td><input type="checkbox"  asp-for="ticket"></td>
                            }
                            else
                            {
                                <td><input type="checkbox"  asp-for="ticket" checked></td>
                            }




                            <td>
                                <button type="submit" style="cursor:pointer;">Save</button>
                            </td>
                            <td><a href="/admin/edit/@admin.Id">Edit</a></td>
                            <td><a href="/admin/delete/@admin.Id"><i class="fa fa-trash" style="color:red"></i></a></td>
                        </form>
                    </tr>

                }


            </tbody>
        </table>

    </section>
    <footer>

        <div>
            <p><span> </span>Stay secured, <span>Keep Growing</span></p>
        </div>
    </footer>
</body>
</html>
